.corroucel{
    width: 250px;
    height: 150px;
    margin: auto;
}

.wall{
    display: none;
    width: 75%;
    height: 75%;
}

/*Botões*/

.voltar {
  position: relative;
  left: -7%;
  top: 45%;
  color: rgb(0, 0, 0);
  text-decoration: none;
  background-color: rgb(199,21,133);
  font-family: sans-serif;
}

.avancar {
  position: relative;
  left: 102%;
  top: -48%;
  color: rgb(0, 0, 0);
  text-decoration: none;
  background-color: rgb(199,21,133);
  font-family: sans-serif;
}

/* Corzinha de fundo para diferenciar */
.wall-1 { 
  background-color: rgb(139,0,139); 
}
.wall-2 { 
  background-color: rgb(186,85,211); 
}

.wall-3 { 
  background-color: rgb(123,104,238); 
}

.wall:target{
    display: block;
}