$carousel-height: MIN(40vw, 500px);
$control-size: 50px;

* {
  box-sizing: border-box;
  font-family: 'Poppins', serif;
  font-size: 15px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

html {
  height: 100vh;
  font-size: 10px;
  overflow-x: hidden;
  --hover-color: #b4b4b4;
  --color-toolbar: #000;
  --toolbar-bg: #bebebe;
  --body-bg: #ffffff;
}

@media (prefers-color-scheme: dark) {
  html {
    --hover-color: #252525;
    --color-toolbar: #ffffff;
    --toolbar-bg: #313131;
    --body-bg: #000000;
  }
}

body {
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: var(--body-bg);
}

header {
  top: 0%;
  position: fixed;
  margin: 0;
  border: 0;
  padding: 0;
  z-index: 2;
  
  
  a {
    text-align: center;
    color: var(--color-toolbar);
  }

  .toolbar {
    height: 75px;
    width: 100vw;
    display: flex;
    background-color: var(--toolbar-bg);
    align-items: center;
    justify-content:space-between;
    padding: 10px 30px;
  
    ul {
      svg {
        fill: #fff;
      }

      list-style: none;
      line-height: 11px;
      padding: 0;
      margin: 0;
    }
    
    img, .sidebar_toggle {
      filter: drop-shadow(0 0 3px #0006)
    }
  
    img {
      height: 60px;
    }
    
    .sidebar_toggle {
      cursor: default;
      ul{
        display: none;
      }
      svg {
        transition: .5s;
      }
      &.is_open {
        #first_bar{
          transform: translateY(18px) translateX(-3px) rotate(45deg);
        }
        #second_bar{
          transform: rotate(-45deg);
        }
        #third_bar{
          filter: opacity(0);
        }
      }
    }
    
    @media only screen and (max-width: 922px) {
      .sidebar_toggle {
        cursor: pointer;
        display: flex;
        ul{
          display: block;
        }
      }
    }
  }
}
  
nav {
  position: fixed;
  margin-top: 50px;
  width: 100vw;
  z-index: 3;

  ul {
    background-color: var(--toolbar-bg);
    justify-content: center;
    margin: 0;
    margin-top: -1px;
    padding: 0;
    list-style: none;
    display: flex;
    
    li {
      padding: 5px 12px;
      justify-content: center;
      align-items: center;
      line-height: 1.5;
      font-size: 16px;
      background-color: var(--toolbar-bg);
      margin: 0;
      transition: ease-out .5s;
      
      &:hover {
        background-color: var(--hover-color);
      }

      button {
        color: var(--color-toolbar);
        cursor: pointer;
        font-weight: 400;
        background-color: #0000;
        border: none;
      }
    }
  }

  @media only screen and (max-width: 922px) {
    width: MAX(25vw, 175px);
    transition: ease-out .5s;
    transform: translateX(MIN(-35vw, -185px));
    ul {
      height: 100vh;
      display: block;
      li {
        cursor: pointer;
        border: 0px;
        border-top: 0;
      }
    }
    &.is_open {
      transform: translateX(0);
    }
  }
}

main { 
  color: var(--color-toolbar);
  width: MIN(94vw, 1000px);
  margin: 110px auto 0;
  
  @media only screen and (max-width: 922px) {
      margin: 80px auto 0;
  }
}

footer {
  justify-content: center;
  align-items: center;
  position: static;
  display: flex;
  bottom: 0;
  right: 0;
  left: 0;
  height: 125px;
  width: 100vw;
  color: var(--color-toolbar);
  background-color: var(--toolbar-bg);
  
  a {
    color: var(--color-toolbar);
    font-weight: bold;
  }

  img {
    height: 90px;
    margin-right: 50px;
  }
  
  aside {
    display: block;
    justify-content: right;
    
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      
      li {
        margin-right: 11px;
      }
    }
    #social_media {
      flex-direction: row;
    }
  }

  svg {
    height: 20px;
    width: 20px;
    color: var(--color-toolbar);
  }
  
  @media only screen and (max-width: 922px) {
    height: auto;
    padding: 0 10px;
    aside{
      ul {
        flex-direction: column;
        align-items: center;
      }
      li {
        justify-content: center;
        margin: 0;
      }
    }

    #social_media {
      margin-right: 11px;
    }

    img {
      margin: 0;
    }
  }
}

.carousel {
   width: MIN(94vw, 1000px);
   height: $carousel-height;
   border-radius: 10px;
   overflow: hidden;
   position: relative;
   margin: 10px auto 0 auto;
   box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);

   .controls {
     color: black;
     opacity: 0;
     display: flex;
     position: absolute;
     left: 0;
     top: calc(50% - calc(MIN(calc(5 * 1vw), 50px) / 2));
     justify-content: space-between;
     width: 100%;
     z-index: 1;
     transition: all ease 0.5s;

     .control {
       font-family: sans-serif;
       font-size: MIN(18px, calc(3 * 1vw));
       background-color: #ffffff99;
       border-radius: 50%;
       margin: 0 5px;
       height: MIN(calc(5 * 1vw), 50px);
       width: MIN(calc(5 * 1vw), 50px);
       display: flex;
       justify-content: center;
       align-items: center;
       opacity: 1;
       transition: ease 0.3s;
       cursor: pointer;
     }
   }
   &:hover .controls {
     opacity: 1;
   }

   .slides {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     display: flex;
     width: 100%;
     transition: 1s ease-in-out all;

     .slide{
       width: MIN(94vw, 1000px);
       min-height: $carousel-height;
       height: auto;
       justify-content: center;
       align-items: center;

       img {
         
       }

       h1 {
         z-index: 2;
       }
     }
   }
}

::-webkit-scrollbar {
  width: 5px;
}