* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', serif;
  font-size: MIN(15px, 2vw);
  font-weight: 200;
}

html {
  height: 100vh;
  font-size: 10px;
  overflow-x: hidden;
  --hover-color: #b4b4b4;
  --color-toolbar: #000;
  --toolbar-bg: #bebebe;
  --body-bg: #ffffff;
}

@media (prefers-color-scheme: ligh) {
  html {
    --hover-color: #252525;
    --color-toolbar: #ffffff;
    --toolbar-bg: #313131;
    --body-bg: #000000;
  }
}

body {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  background-color: var(--body-bg);
}

h1 {
  text-align: center;
  color: #a50000;
}

h2, h3, h4, h5 {
  color: black;
}

.header {
  top: 0%;
  position: fixed;
  margin: 0;
  border: 0;
  padding: 0;
  z-index: 2;
}

.toolbar {
  height: 100px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--toolbar-bg);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 30px;
}

.toolbar ul {
  list-style: none;
  line-height: 11px;
  padding: 0;
  margin: 0;
}

.toolbar ul svg {
  fill: #fff;
}

.toolbar img, .toolbar .sidebar_toggle {
  -webkit-filter: drop-shadow(0 0 3px #0006);
          filter: drop-shadow(0 0 3px #0006);
}

.toolbar img {
  height: 80px;
}

.toolbar .sidebar_toggle {
  cursor: default;
}

.toolbar .sidebar_toggle ul {
  display: none;
}

.toolbar .sidebar_toggle svg {
  -webkit-transition: .5s;
  transition: .5s;
}

.toolbar .sidebar_toggle.is_open #first_bar {
  -webkit-transform: translateY(11px) translateX(-1px) rotate(45deg);
          transform: translateY(11px) translateX(-1px) rotate(45deg);
}

.toolbar .sidebar_toggle.is_open #second_bar {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.toolbar .sidebar_toggle.is_open #third_bar {
  -webkit-filter: opacity(0);
          filter: opacity(0);
}

@media only screen and (max-width: 914px) {
  .toolbar .sidebar_toggle {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .toolbar .sidebar_toggle ul {
    display: block;
  }
}

.sidebar ul {
  background-color: var(--toolbar-bg);
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  margin-top: -1px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar ul li {
  padding: 5px 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.5;
  font-size: 16px;
  background-color: var(--toolbar-bg);
  margin: 0;
}

.sidebar ul li:hover {
  background-color: var(--hover-color);
}

.sidebar ul li button {
  color: var(--color-toolbar);
  cursor: pointer;
  font-weight: 400;
  background-color: #0000;
  border: none;
}

@media only screen and (max-width: 914px) {
  .sidebar ul {
    height: 100vh;
    width: 25vw;
    background-color: var(--toolbar-bg);
    display: block;
    -webkit-transform: translateX(-25vh);
            transform: translateX(-25vh);
    -webkit-transition: ease-out .5s;
    transition: ease-out .5s;
  }
  .sidebar ul li {
    cursor: pointer;
    border: 0px;
    border-top: 0;
  }
  .sidebar.is_open ul {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.content {
  margin-top: 160px;
}

.carousel {
  width: 93vw;
  height: MIN(40vw, 500px);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: 10px auto 0 auto;
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.carousel .controls {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: calc(50% - calc(MIN(calc(5 * 1vw), 50px) / 2));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  z-index: 1;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.carousel .controls .control {
  font-family: sans-serif;
  font-size: MIN(18px, calc(3 * 1vw));
  background-color: #ffffff99;
  border-radius: 50%;
  margin: 0 5px;
  height: MIN(calc(5 * 1vw), 50px);
  width: MIN(calc(5 * 1vw), 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  cursor: pointer;
}

.carousel:hover .controls {
  opacity: 1;
}

.carousel .slides {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-transition: 1s ease-in-out all;
  transition: 1s ease-in-out all;
}

.carousel .slides .slide {
  width: 100em;
  min-height: MIN(40vw, 500px);
  height: auto;
}
/*# sourceMappingURL=style.css.map */